html,body{
	margin: 0;
	padding: 0;
	/*background-color: #d9ffd2;*/
}
form#kushki_payment_form{
	position: relative;
	width: 300px;
	left: 50%;
	margin-left: -150px;
	text-align: center;
}
form#kushki_payment_form span{
	text-align: left;
}
form#kushki_payment_form input.alert{
	/*width: 200px;
	left: 50%;
	margin-left: -100px;
	position: relative;*/
	border-color: #f00;
	outline: none !important;
	border:1px solid red;
	box-shadow: 0 0 10px #719ECE;
}
form#kushki_payment_form input.alert:focus {
	border-color: #f00;
	outline: none !important;
	border:1px solid red;
	box-shadow: 0 0 10px #719ECE;
}
form#kushki_payment_form button{
	background-color: #999;
	font-family: "Open Sans";
	padding: 5px 10px;
	font-size: 14px;
	color: #fff;
	border-radius: 26px;
	cursor: wait;
	text-decoration: none;
	display: inline-block;
	border: none;
	/*height: 32px;*/
	/*position: relative;
	width: 80px;
	left: 50%;
	margin-left: -40px;*/
}
form#kushki_payment_form button.ready{
	background-color: #f00;
	cursor: pointer;
}
#kushki_payment_holder{
	position: relative;
	width: 300px;
	left: 50%;
	margin-left: -150px;
	text-align: center;
	display: none;
}
#kushki_payment_holder #kushki_btn{
	background-color: #999;
	display: none;
	font-family: "Open Sans";
	padding: 5px 10px;
	font-size: 14px;
	color: #fff;
	border-radius: 26px;
	cursor: wait;
	text-decoration: none;
	display: inline-block;
	border: none;
	color: #193470;
}
#kushki_payment_holder #kushki_btn.ready{
	background-color: #00FCB2;
	cursor: pointer;
}