.v3-modal-centered {
    text-align: center;
}
.v3-modal-wrap {
    -webkit-overflow-scrolling: touch;
    bottom: 0;
    left: 0;
    outline: 0;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
}
/* =========================================================== */

.v3-modal-wrap {

    width: 100%;
    height: 100vh;
    max-width: 450px;
    max-height: 902px;
    width: 450px;
    height: 902px;
}

.v3-modal-centered .v3-modal {
    margin: 80px 0;
}
